@import "tailwindcss";

@theme {
  --font-quicksand: "Quicksand", serif;
}

@layer base {
  body {
    font-family: var(--font-quicksand);
  }
}

@layer components {
  .menu-item {
    @apply relative flex h-full cursor-pointer items-center p-4 font-bold text-pink-200 transition-colors ease-in-out hover:bg-white/10 hover:text-zinc-200;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@custom-variant group-open {
  &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
    @slot;
  }
}

@custom-variant peer-open {
  &:is(:where(.peer):is(.open, [open], :popover-open, :open) ~ *) {
    @slot;
  }
}
